body {
    /* background: linear-gradient(to right, rgb(239, 239, 239), rgb(241, 160, 109)); */
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*Navbar*/
.navbar {
    display: flex;
    margin: 1rem 2rem;
    padding: 2rem 3rem;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgb(255, 255, 255), orange);
    border-radius: 20px;
    height: 5rem;

}

.navbar_links {
    display: flex;
    justify-content: flex-end;
}

.navbar_logo {
    color: orange;
}

.navbar_logo p {
    font-family: 'Exo', sans-serif;
    font-size: xx-large;
    font-weight: 700;
    color: black;
    padding: 0.25rem 0;
}

.navbar_links p {
    margin: 0 2rem;
    font-size: large;
    color: black;
    position: relative;
    padding: 0.25rem 0;
}

.navbar_links p:hover {
    color: white;
    transition: ease-in-out .2s;
}

.navbar_links p:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navbar_links p:hover:before {
    visibility: visible;
    width: 100%;
}

.navbar_links p a {
    text-decoration: none;
    color: black;
}

.block1 {
    border: 1px solid orange;
}

.active p {
    color: white;
}



/*HOME*/

.home_container {
    margin: 1rem 2rem;
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_container h1 {
    background: linear-gradient(to right, rgb(248, 122, 4), rgb(0, 0, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero_image img {
    height: 70vh;
    width: 115%;
    /* border-radius: 50% 0 0 50%; */
    /* padding-right: 2rem; */
}


.chat {
    margin-top: 1rem;
    padding: 0.8rem 3.5rem;
    border-radius: 8px;
    margin-right: 1rem;
    font-size: 16px;
    border: 1px solid orange;
    background-color: orange;
    color: white;
    font-weight: 600;
    transition: ease-in-out 0.2s;
}

.knowmore {
    margin-top: 1rem;
    padding: 0.8rem 3.5rem;
    border-radius: 8px;
    margin-left: 1rem;
    font-size: 16px;
    border: 2px solid orange;
    background-color: white;
    font-weight: 600;
    color: orange;
    transition: ease-in-out 0.2s;
}

.chat:hover {
    border-radius: 18px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.knowmore:hover {
    border-radius: 18px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.tagline {
    font-family: 'Exo', sans-serif;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 800;
    font-size: xxx-large;
    margin-bottom: 2rem;
}

.tagdesc {
    font-weight: 400;
    font-size: 20px;
}


/*Exercise Card */

.exercise_items {
    margin: 1rem 2rem;
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    row-gap: 2rem;
    column-gap: 2rem;

}

.workout_cards {
    transition: transform .2s;
    padding: 2rem;
    text-align: center;
    border-bottom: 2px solid rgb(187, 16, 16);

}

.workout_cards:hover {
    transform: scale(1.1);
}

.text_capsules {
    display: flex;
}

.workout_bodypart {
    color: white;
    background-color: rgb(210, 77, 77);
    border: none;
    border-radius: 25px;
    padding: 0.3rem 0.8rem;
    text-transform: capitalize;
    margin-left: 1rem;
    font-weight: 500;
    font-size: medium;

}

.workout_target {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 0.3rem 0.8rem;
    text-transform: capitalize;
    margin-left: 1rem;
    font-weight: 500;
    font-size: medium;
}

.workout_name {
    padding: 0.5rem 0 0 0;
    text-align: left;
    margin-left: 1rem;
    text-transform: capitalize;
}

.note {
    margin: 1rem 2rem;
    padding: 2rem 3rem;
}

/*Nutrients Page*/

.header_nutrition {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quote_container {
    padding: 2rem;
    margin-top: 2rem;
    text-align: center;
    background: linear-gradient(to right, rgb(248, 122, 4), rgb(0, 0, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quote {
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 800;
    font-size: x-large;
}

.author {
    text-align: center;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 800;
    font-size: large;
}

.search_container {
    text-align: center;
    margin: 3rem 2rem;
    padding: 2rem 3rem;
}

.search {
    text-align: center;
    padding: 1rem 1rem;
    width: 30rem;
    height: 3rem;
    margin-right: 1rem;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search::placeholder {
    text-align: center;
    font-size: medium;
}

input:focus::placeholder {
    color: transparent;
}

.search:focus {
    outline: none;

}

.searchbtn {
    margin-left: 1rem;
    width: 10rem;
    height: 3rem;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid orange;
    background-color: orange;
    color: white;
    font-weight: 600;
    transition: ease-in-out 0.2s;
}

.searchbtn:hover {
    border-radius: 18px;
    cursor: pointer;
}

.recipe_container {
    margin: 1rem 2rem;
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    row-gap: 4rem;
    column-gap: 2rem;
}

.recipe_img {
    border-radius: 50%;
}

.recipe_card {
    text-align: center;
    transition: transform .2s;
}

.recipe_card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.recipe_name {
    font-weight: 500;
    border-bottom: 2px solid orange;
    margin-bottom: 1rem;
}

.capsules {
    display: flex;
    justify-content: space-evenly;
}

.cal {
    color: white;
    background-color: rgb(210, 77, 77);
    border: none;
    border-radius: 25px;
    padding: 0.3rem 0.8rem;
    text-transform: capitalize;
    margin-left: 1rem;
    font-weight: 500;
    font-size: medium;
}

.results {
    margin: 1rem 2rem;
    padding: 2rem 3rem;
    text-align: center;
}

.results h1 {
    font-weight: 500;
}

.loading {
    text-align: center;
}