/*Navbar*/
.navbar {
    display: flex;
    margin: 1rem 2rem;
    padding: 2rem 3rem;
    justify-content: space-between;
    align-items: center;
}

.navbar_links {
    display: flex;
    justify-content: flex-end;
}

.navbar_logo {
    color: orange;
}

.navbar_logo p {
    font-family: 'Exo', sans-serif;
    font-size: xx-large;
    font-weight: 700;
    color: black;
    padding: 0.25rem 0;
}

.navbar_links p {
    margin: 0 2rem;
    font-size: large;
    color: black;
    position: relative;
    padding: 0.25rem 0;
}

.navbar_links p:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: orange;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navbar_links p:hover:before {
    visibility: visible;
    width: 100%;
}

.navbar_links p a {
    text-decoration: none;
    color: black;
}

.block1 {
    border: 1px solid orange;
}

.active p {
    color: orange;
}


/*HOME*/

.home_container {
    margin: 1rem 2rem;
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_container h1 {
    font-weight: 550;
    background: linear-gradient(to right, rgb(248, 122, 4), rgb(0, 0, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero_image img {
    height: 80vh;
    width: 100%;
    border-radius: 50% 0 0 50%;
    padding-right: 2rem;
}

.chat {
    margin-top: 1rem;
    padding: 0.8rem 4rem;
    border-radius: 8px;
    margin-right: 1rem;
    font-size: 16px;
    border: 1px solid orange;
    background-color: orange;
    color: white;
    font-weight: 600;
}

.knowmore {
    margin-top: 1rem;
    padding: 0.8rem 4rem;
    border-radius: 8px;
    margin-left: 1rem;
    font-size: 16px;
    border: 1px solid orange;
    background-color: white;
    font-weight: 600;
    color: orange;
}